.App-logo {
  height: 15vmin;
  pointer-events: none;
}

header,footer{
  min-height: 10vh;
  padding: 0.5rem;
  background-color: #202429;
  color: #ffffff;
}
header{
  h1 {
    color: #f3dd1a;
    font-size: calc(16px + 4vmin);
  }
  p{
    color: #ffffff;
  }
}

main {
  height: 70vh;
  display: flex;
  align-items: center;
  h2 {
    text-align: center;
    color: #282d33;
  }
}
