.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  padding: 0.5rem;
  background-color: #202429;
  h1 {
    color: #f3dd1a;
  }
}

main {
  height: 70vh;
  display: flex;
  align-items: center;
  h2 {
    text-align: center;
    color: #282d33;
  }
}
